table {
    width: 100%;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
  
th {
    text-align: center;
}
td {
    text-align: center;
}

.worklog-sum {
    text-align: center;
}

button {
    border-radius: 50%;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    user-select: none;
    background-image: none;
    background-color:#eb2617e5;
    border-color:#eb2617e5;
}