.work-log-box {
    padding: 2%;
}

.work-log-box h1{
    text-align: center;
}

.duration-hours {
    text-align: center;
}
.duration-minutes {
    text-align: center;
}

.work-type {
    width: 70%;
    text-align: center;
}
.work-day {
    border-color: gray;
    border-width: 0 0 .1em 0;
    padding: 4.5% 0 ;
    text-align: center
}

.work-log-input-label {
    position: relative;
}

.work-log-input-label h3 {
    position: absolute;
    left: -70px;
    bottom: -30px;
}

.work-log-form .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1% 0;
}

.work-log-form .content {
    padding: 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 20%;
}

.work-log-form .content .mui-input {
    width: 50%;
    height: 100%;
}

.work-log-form button {
    border-radius: 10%;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    color: #000;
    user-select: none;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.05);
}